<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>input</key>
	<dict>
		<key>0</key>
		<string>servo_alarm1</string>
		<key>1</key>
		<string>servo_alarm2</string>
		<key>2</key>
		<string>servo_alarm3</string>
		<key>3</key>
		<string>servo_alarm4</string>
		<key>4</key>
		<string>servo_alarm5</string>
		<key>5</key>
		<string>servo_alarm6</string>
		<key>6</key>
		<string>servo_alarm7</string>
		<key>7</key>
		<string>servo_alarm8</string>
		<key>8</key>
		<string>left_door_closed</string>
		<key>9</key>
		<string>right_door_closed</string>
		<key>10</key>
		<string>cylinder_init</string>
		<key>11</key>
		<string>cylinder_test</string>
		<key>12</key>
		<string>raster</string>
		<key>13</key>
		<string>emg_stop</string>
		<key>14</key>
		<string>green_led</string>
		<key>15</key>
		<string>red_led</string>
		<key>16</key>
		<string>blue_led</string>
		<key>17</key>
		<string>left_door_opened</string>
		<key>18</key>
		<string>right_door_opened</string>
	</dict>
	<key>output</key>
	<dict>
		<key>0</key>
		<string>servo_brake1</string>
		<key>1</key>
		<string>servo_brake2</string>
		<key>2</key>
		<string>servo_brake3</string>
		<key>3</key>
		<string>servo_brake4</string>
		<key>4</key>
		<string>servo_brake5</string>
		<key>5</key>
		<string>light_box_power</string>
		<key>6</key>
		<string>axis_enable1</string>
		<key>7</key>
		<string>axis_enable2</string>
		<key>8</key>
		<string>axis_enable3</string>
		<key>9</key>
		<string>axis_enable4</string>
		<key>10</key>
		<string>axis_enable5</string>
		<key>11</key>
		<string>axis_enable6</string>
		<key>12</key>
		<string>axis_enable7</string>
		<key>13</key>
		<string>axis_enable8</string>
		<key>14</key>
		<string>spot_power</string>
		<key>15</key>
		<string>cylinder_init</string>
		<key>16</key>
		<string>cylinder_test</string>
		<key>17</key>
		<string>left_door_open</string>
		<key>18</key>
		<string>left_door_close</string>
		<key>19</key>
		<string>right_door_open</string>
		<key>20</key>
		<string>right_door_close</string>
		<key>21</key>
		<string>lamp_light</string>
		<key>22</key>
		<string>red_led</string>
		<key>23</key>
		<string>green_led</string>
		<key>24</key>
		<string>blue_led</string>
		<key>25</key>
		<string>laser_power</string>
		<key>26</key>
		<string>luxmeter_power</string>
	</dict>
</dict>
</plist>
